<nav class="navBar">
    <a class="siteImage" href="#">
        <i class="fa-solid fa-paw"></i>
        <span class="siteName">Animal Shelter</span>
    </a>

    <button class="navBarMenuButton" (click)="openMenu()"><i class="fa-solid fa-bars"></i></button>

    <ul class="navBarMenu" #navBarMenu *ngIf="showMenu">
        <li class="navBarMenuLink"><a class="menuLink" href="#" data-lang>About us</a></li>

        <li class="navBarMenuLink"><a class="menuLink" href="#">Cats</a></li>
        
        <li class="navBarMenuLink"><a class="menuLink" href="#">Dogs</a></li>

        <ul class="logInOptions">
            <li class="logInOptionsLink entrar"><a class="menuLink" href="#">Login</a></li>
            <li class="logInOptionsLink cadastrar"><a class="menuLink" href="#">Register</a></li>
        </ul>

        <!-- <li class="navBarMenuLink">
            <a class="menuLink myProfile" href="#">Meu perfil <i class="fa-solid fa-caret-down"></i></a>
            <ul class="profileMenu">
                <li class="profileMenuLink"><a class="menuLink" href="#">Settings</a></li>
                <li class="profileMenuLink"><a class="menuLink" href="#">Logout <i class="fa-solid fa-right-from-bracket"></i></a></li>
            </ul>
        </li> -->

        <ul class="siteOptions">
            <ul class="languageOptions">
                <li class="languageOptionsLink"><a class="languageLink" href="#" title="Trocar linguagem do site para português"><img class="languageLink" src="assets/brasil.png" alt="Português - Brasil"></a></li>
                <li class="languageOptionsLink"><a class="languageLink" href="#" title="Trocar linguagem do site para inglês"><img class="languageLink" src="assets/usa.PNG" alt="English - United States"></a></li>
            </ul>
            <ul class="fontOptions">
                <li class="fontOptionsLink"><a class="menuLink" href="#" title="Aumentar a fonte do site">A+</a></li>
                <li class="fontOptionsLink"><a class="menuLink" href="#" title="Diminuir a fonte do site">a-</a></li>
            </ul>
        </ul>
    </ul>
</nav>