<div *ngIf="carouselItems && carouselItems.length >= 0" class="carousel">
    <button class="carouselButton left" type="button" (click)="navigateCarouselItems(false)">
        <i class="fa-solid fa-chevron-left fa-2x"></i>
    </button>

    
    <div>
        <img 
            *ngFor="let item of carouselItems"
            src="{{ item.src }}" 
            alt="{{ item.alt }}"
            class="carouselItem"
            [ngClass]="{ 'activeCarouselItem': item.active, 'inactiveCarouselItem': !item.active }"
        >

        <div class="carouselButtonControl">
            <button 
                class="floatingButton" 
                type="button" 
                *ngFor="let item of carouselItems; let i = index" 
                (click)="changeActiveImage(i)"
                [ngClass]="{ 'active': item.active }"
            ></button>
        </div>
    </div>



    <button class="carouselButton right" type="button" (click)="navigateCarouselItems(true)">
        <i class="fa-solid fa-chevron-right fa-2x"></i>
    </button>
</div>